<div class="course">
    <div class="course__info">
        <div class="course__data">
            <div class="course__title">
                {{courseItem.title}}
            </div>
            <div class="course__duration">
                {{courseItem.duration}}
            </div>
            <div class="course__date">
                {{courseItem.date}}
            </div>
        </div>
        <div class="course__description">
            {{courseItem.description}}
        </div>
    </div>
    <div class="course__panel">
        <button class="course__button">Edit</button>
        <button class="course__button">Delete</button>
    </div>
</div>