<div class="add-course">
    <div class="add-course__label">
        <span class="add-course__input-title">Title</span>
        <input class="add-course__input" type="text" placeholder="title"/>
    </div>
    <div class="add-course__label">
        <span class="add-course__input-title">Description</span>
        <textarea class="add-course__input" placeholder="description"></textarea>
    </div>
    <div class="add-course__label">
        <span class="add-course__input-title">Date</span>
        <input class="add-course__input add-course__input--date" placeholder="date" type="date"/>
    </div>
    <div class="add-course__label">
        <span class="add-course__input-title">Duration</span>
        <input class="add-course__input add-course__input--duration" placeholder="duration" type="text"/>
    </div>
    <div class="add-course__label">
        <span class="add-course__input-title">Authors</span>
        <input class="add-course__input add-course__input--authors" type="text"/>
        <input class="add-course__input add-course__input--authors" type="text"/>
    </div>
    <div class="add-course__button-wrapper">
        <button class="add-course__button">Save</button>
        <button class="add-course__button">Cancel</button>
    </div>


</div>