<form class="add-course" [formGroup]="courseForm" (submit)="onsubmit(courseForm)">
    <label class="add-course__label">
        <span class="add-course__input-title">Title</span>
        <input class="add-course__input" 
            type="text"
            formControlName="title"
            placeholder="title"
        />
    </label>
    <label class="add-course__label">
        <span class="add-course__input-title">Description</span>
        <textarea class="add-course__input"
            formControlName="description"
            placeholder="description"
        >
        </textarea>
    </label>
    <label class="add-course__label">
        <span class="add-course__input-title">Date</span>
        <input class="add-course__input add-course__input--date" formControlName="date" placeholder="date" type="text"/>
    </label>
    <ment-form-duration formControlName="duration" [nameOption]="duration"></ment-form-duration>
    <label class="add-course__label">
        <span class="add-course__input-title">Authors</span>
        <input class="add-course__input add-course__input--authors" formControlName="authors" type="text"/>
        <input class="add-course__input add-course__input--authors" type="text"/>
    </label>
    <div class="add-course__button-wrapper">
        <button class="add-course__button" [disabled]="courseForm.invalid" type="submit">Save</button>
        <button class="add-course__button">Cancel</button>
    </div>
</form>
